html, body {
    height:100%;
    margin:0px;
    padding:0px;
    overflow: hidden;
    font-size: 18px;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

#container {
    padding:0px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    background-color: #ddd;
}

.title {
    padding-top: 20px;
    margin:0px;
    font-size: 22px;
    text-align: center;
}

#chatbox {
    height: 100%;
    margin:0px;
    padding: 20px;
}

#messages {
    padding-left:10px;
    padding-right:10px;
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
    background-color: #fff;
    border: 2px solid #aaa;
    height: 40%;
    overflow: scroll;
}

.message {
    margin-top: 10px;
    margin-bottom: 10px;
}

.Francois {
    color: #98c073;
}
  
.Olivia {
    color: #a37fc0;
}

.You {
    color: #7f85c0;
}

.time {
    margin-right: 5px;
    color: #ccc;
    font-size: small;
}

.agent-name {
    font-weight: bold;
}

#full-replies {
    padding:0px;
    margin:22px 0px 0px 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#full-replies .button {
    width:100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* short replies */
#reply-options {
    display: flex;
    justify-content: center;
    margin-top: 22px;
    height:44px;
}


#reply-options .option {
    border: 2px solid #7f85c0;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    background-color: #e0e2ff;
    border-radius: 21px;
    margin: 0px 3px 0px 3px;
    height: 42px;

}

#reply-selection {
    display:flex;
    width:100%;
    margin-top: 22px;
}

#reply-textfield {
    background-color: #fff;
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    padding: 10px;
    min-height: 22px;
    width: 100%;
    margin-right: 22px;
}

.no-reply-selected {
    color: #ccc;
}

.reply-selected {
    color: black;
}

#reply-selection button {
    flex: 0 0 auto;
    padding-right: 42px;
    padding-left: 42px; 
}
